.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #3f51b5;
}

.snippet-group {
	display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.snippet-one-content{
	margin-top: 150px;
}

.snippet-padding {
	width: 50%;
}

.snippet-padding, .snippet-body {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.snippet-body {
	padding: 0 40px 40px;
}

.slide-menu {
	border: 1px solid;
}

/* NORMALIZACION DE COMPONENT.CSS DE JSF */
.ui-button .ui-button-text {
	display: inline-block!important;
}
.ui-widget-content {
	border: none;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}

div.mdl-layout__container > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 16px 0;
}
div.mdl-layout__container > footer > div {
	padding: 16px 40px 0;
}

form.usuarios > .ui-datatable > .ui-datatable-footer > .ui-panelgrid > .ui-widget-content{
	background: transparent;
}

.box-home{
	width: 30%;
	float: left;
	padding: 10px;
	border: 1px solid #cac3c3;
	margin:	2px 2px;
}

#slide-menu > ul{
	padding: 0;
	list-style-type: none;
}
#slide-menu > ul > li {
	height: 38px;
    border-bottom: 1px solid #b3b3b3;
}
#slide-menu > ul > li > a {
	text-decoration: none;
	line-height: 38px;
	display: block;
	color: #2e3436;
}
#slide-menu > ul > li > a:hover {
	color: rgb(83,109,254);
}